.container{
    margin: 0px 150px;
}

.header-line{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.header-theme{
    color: #fafbfb;
    text-shadow: -2px -1px #f65b4e, 1px 1px #0a0a0a;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition-duration: 500ms;
}
.header-theme:hover{
    color: #fafbfb;
    text-shadow: -3px -3px #f65b4e, 2px 2px #0a0a0a;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition-duration: 500ms;
}

.search{
    margin-right: 0px;
    right: 0;   
}

.search input {
    width: 210px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 14px;  
    transition-duration: 500ms;  
}
.search input:hover {
    width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 14px;    
    transition-duration: 500ms;
}
.search input:focus {
    width: 400px;
    transition-duration: 500ms;  
}
.search button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #f65b4e;
    border-width: 1px;
    border-color: #f65b4e;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 500ms; 
}
.search button:hover {
   background-color:#f65b4e ;
   color:#ffffff;
   transition-duration: 500ms;
}
.header-nav-line{
    padding-top: 50px;
    display:flex;
    justify-content: space-between;
}
.nav-item{
    color:#f65b4e;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    transition-duration: 500ms;
}
.nav-item:hover{
    color:#d21504;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    transition-duration: 500ms;
}

.add-teacher{
    margin-right: 0px;
    justify-content: flex-end;
    right: 0;  
}
.add-teacher button{
    margin-left: 10px;
    padding: 10px 15px;
    border-width: 1px;
    background-color: #ffffff;
    color: #f7614f;
    border-color: #f7614f;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 500ms;
}
.add-teacher button:hover{
    background-color:#f65b4e ;
    color:#ffffff;
    transition-duration: 500ms;
}
.divider{
    padding: 20px;
    border-bottom: 1px solid #100f0f;
    width: 65%;
    margin: 0 auto;
}  
.main-theme{
    text-align: center;
}

.main-filter {
    display: flex;
    align-items: center;
}


.main-filter select{
    margin-right: 15px;
    padding: 5px 7px;
}
.main-filter label {
    margin-right: 10px;
    margin-left: 10px;
    color: #898686;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.checkboxes label {
    margin-right: 10px;
    color: #898686;
    transition-duration: 500ms;
}
.checkboxes label:hover {
    margin-right: 10px;
    color: #070707;
    transition-duration: 500ms;
}
.separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    border-left: 1px dotted #b4aaaa;
}
.teacher-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



.teacher-card {
    margin-bottom: 30px;
    display:inline-block;
}
.teacher-card img {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-color: #f7614f;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    transition-duration: 500ms;
}

.teacher-card img:hover {
   scale: 1.2;
   transition-duration: 500ms;
}

.star-checkbox {
    position: absolute;
    display:inline-block;
    cursor: pointer;    
    transform: translate(-200%, -20%); 
}
.teacher-card img:hover + .star-checkbox label{
    visibility: hidden;
    opacity: 0;
    transition-duration: 500ms;
}
.star-checkbox input[type="checkbox"] {
    display:none;
}

.star-checkbox label {
    display: inline-block;
    width: 25px; 
    height: 25px; 
    background-image: url('star.svg.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.star-checkbox input[type="checkbox"]:checked + label {
    background-image: url('filled-star.svg'); 
    transition-duration: 500ms;
}
.teacher-name{
    margin-top: 5px;
    color: #100f0f;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.teacher-text-specialization {
    margin-top: 5px;
    color: #b4aaaa;  
    font-size: 15px;
    justify-content: center;
    text-align: center;
}
.teacher-text-country{
    margin-top: 5px;
    color: #100f0f;
    font-size: 11px;
    justify-content: center;
    text-align: center;
}

.stat-theme{
    text-align: center;
}

.stat-table table{
    width: 100%; 
    border-collapse: collapse; 
}

.stat-table th{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    border-bottom: 1px solid;
    transition-duration: 500ms; 
}
.stat-table th:hover{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    border-bottom: 3px solid;
    background-color: #e7e4e4c0;
    transition-duration: 500ms;

}

.stat-table td{
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}

.table-left{
    font-family: sans-serif;
    text-align: left !important;
}

.stat-table tr:nth-child(even) {
    background-color: #f9f5f9;
} 
.pagination{
    margin-top: 25px;
}
.pagination a, span{
    text-decoration: none;
    color:#5088ea;
    padding-left: 10px;
}
.first-link{
    color:#000000 !important;
}
.pagination a:hover{
    text-decoration: none;
    color:#000000;
}

.favorites-h1{
    text-align: center;
}

.favorites-choosen-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.lorem {
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 13px;
}
.footer-nav-line{
    padding-top: 50px;
    display:flex;
    justify-content: space-between;
}
.arrow-button {
    display: inline-block;
    width: 120px; 
    height: 120px; 
    line-height: 160px; 
    text-align: center; 
    font-size: 80px; 
    color: #80858e; 
    background-color: transparent; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: color 0.3s ease;
    transition-duration: 500ms;
}

.arrow-button:hover {
    color: #000000; 
    transition-duration: 500ms;
}
/* add */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
/* add modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    clip:inherit;
    border-radius: 10px;
    z-index: 1001; 
    max-height: 100hv; 
    max-width: 500px;
}

.close {
    right: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 46px;
}
.close:hover{
    right: 10px;
    cursor: pointer;
    color: #b26b6b;
    font-size: 46px;
}
.modal-heading-add-teacher {
    background-color: #353639;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-heading-add-teacher h2 {
    margin: 0;
}
.modal form{
    padding:10px 10px;
}
.modal label{
    color: #80858e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}


.input-full-name{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
}
.spesiality-select{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.popup-info-input{
    display: flex;
    flex-direction: column;
}
.popup-info-input input{
    padding: 5px 5px;  
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.popup-labels{
    display: flex;
    justify-content: space-between;
}
.popup-labels label{
    width: 47%;
}
.speciality-input{
    margin-top: 10px;
}
.popup-inputs{
    display: flex;
    justify-content: space-between;
}

.popup-inputs input{
    width: 45%;
}
.popup-inputs select{
    width: 48%;
}

.popup-info-input select{
    padding: 5px 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dialog-column-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.popup-date{
    display: flex;
    flex-direction: column;
}
.popup-date input[type="date"]{
    width: 50%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.popup-date-label label{
    width: 100%;    
   
}
.popup-gender{   
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 5px;
}
.popup-gender label{
    display: flex;
    
    align-items: center;
}
.popup-back-color{
    display: flex;
    align-items: center; 
    margin-top: 5px;
}
.popup-back-color input{
    margin-left: 40px;
}
.popup-notes{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.popup-notes textarea{
    margin-top: 0;
}
.popup-button button{
    width: 100%;
    padding: 15px 10px;
    background-color: white;
    border-color: lightcoral;
    color: lightcoral;
    border-radius: 5px;
}
.popup-button button:hover{
    width: 100%;
    padding: 15px 10px;
    background-color: white;
    border-color: #b26b6b;
    color: #b26b6b;
    border-radius: 5px;
}
/* more info modal */
.modal-teacher{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    clip:inherit;
    border-radius: 10px;
    z-index: 1001; 
    max-height: 60hv; 
    max-width: 80hv;
}
.popup-teacher-info{
    display:flex;
    flex-direction: column;
}
.popup-teacher-info-display img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
    justify-content: left;
    text-align: left;
    object-fit: cover;
}

.modal-heading-teacher-info{
    background-color: #353639;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-teacher-info-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 20px;
    justify-content: center;
    text-align: left;
}
.poput-teacher-details{
    margin-left: 20px;
}
.popup-teacher-details-speciality{
    font-size: 20px;
    font-weight:bolder;
}
.poput-teacher-details h2{
    font-weight: lighter;
    font-size: 30px;
    margin-top: 0;
    color:#353639;
}
.popup-teacher-details-email{
    color:blue;
}
.star-checkbox-for-modal{
    display: flex;
    justify-content: right;
    margin-right: 10px;
}
.star-checkbox-for-modal input[type="checkbox"] {
    display:none;
}

.star-checkbox-for-modal label {
    display: flex;
    justify-content: right;
    width: 25px; 
    height: 25px; 
    background-image: url('star.svg.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.star-checkbox-for-modal input[type="checkbox"]:checked + label {
    background-image: url('filled-star.svg'); 
    transition-duration: 500ms;
}

.popup-teacher-footer{
    margin: 20px;
    margin-top:10px;
}
.popup-teacher-footer a{
    color: blue
}